.blob_shape2 {
  position: absolute;
  margin-top: 36px;
  width: 257px;
  height: 225px;
  left: -19px;
  top: 36px;
}

.blob_shape1 {
  position: absolute;
  margin-top: 36px;
  width: 153.08px;
  height: 135.3px;
  left: 161px;
  top: -7px;
}
